@charset "UTF-8";

body{
	margin-top:0px;
}

header{
	width:100%;
    font-family: 'HanziPen SC',sans-serif;	height:50px;
	position:fixed;
	background-color:white;
}

a{
	color:black;
	text-decoration: none
}

.header-list li{
	display:inline-block;
	border:1px solid black;
	background-color:#FAFAFA;
	text-decoration:none;
}

main{
font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

h1{
	font-family: 'HanziPen SC',sans-serif;
    text-align: center;
}
 
h1 span{
     position: relative;
     display: inline-block;
     padding: 0 0.8em;
}
      
h1 span::before{
     position: absolute;
     content: '';
     top:0;
     right:0.2em;
     width: 0.2em;
     height:100%;
     border: solid 1px black;
     border-left: none;
}
 
h1 span::after{
     position: absolute;
     content: '';
     top:0;
     left:0;
     width: 0.2em;
     height:100%;
     border: solid 1px black;
     border-right: none;
}



.header-logo{
	font-size:30px;
	padding:10px;
	float:left;
}

.header-list li{
	float:right;
	list-style:none;
	padding:15px;
}

.top-image{
	width:100%;
}

.consept{
	text-align:center;
}

.consept span{
	font-family: 'HanziPen SC',sans-serif;
	font-size:30px;
	border-bottom:2px ;
	transition:3s;
}

.consept{
	margin:100px;
}

.consept-color{
	width:50%;
	margin:0 auto;
}

.ooo{
	color:white;
}

.consept-color:hover .ooo{
	background-color:black;
	color:white;
	transition: 3s;
}


.artist{
	text-align:center;
}

#social-icon a{
	margin: 0; padding: 10px;
}
#social-icon i{
	color: #000000; 
}
#social-icon a:hover i {
	color: #0404B4;
}

#social-icon a:active i {
	font-size:50px;
}

.artist-img{
	height:auto;
	max-width:600px;
}

.nobita {
	margin-bottom:100px;
}

.manabu {
	margin:100px;
}

.gallarys{
	height:150px;
	width:50%;
	margin:0 auto;
}


.gallary-img{
	height:150px;
	width:150px;
	margin-right:20px;
}


.img1:hover{
	height:300px;
	background-image:url(yoru.png);
	background-size:cover;
	transition:4s;
	filter:none;
}

.img2:hover{
	height:300px;
	background-image:url(shito.jpg);
	background-size:cover;
	transition:4s;
	filter:none;
}

.img3:hover{
	height:300px;
	background-image:url(kabe.jpg);
	background-size:cover;
	transition:4s;
	filter:none;
}




